body {
  margin: 0;
}

#root {
  display: grid;
  align-items: center;
  /* height: 100vh; */
}

#pomodoro {
  width: 320px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  vertical-align: auto;
  background-color: plum;
}

#start_stop {
  display: inline-block;
  padding: 10px 15px;
}